 ul {
    list-style-type: none; // убираем маркеры списка
    padding: 0; // убираем отступы внутри списка
    margin: 0; // убираем отступы вокруг списка
  }
  
  li {
    padding: 8px 0; // добавим отступы сверху и снизу для элементов списка
  }
  
  