.root {
    height: 600px;
    border-radius: 0px 0px 0px 100px;
    background: linear-gradient(270.00deg, rgb(255, 69, 88), rgb(254, 134, 110) 100%);
    margin-bottom: 80px;
    overflow: hidden;
}

.bg_image{
    height: 100%;
    width: 100%;
    background-size: auto;
    background-position: 155px -855px;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}

.title {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 16px;
}

.slogan {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 45px;
}

.start_button {
    margin-right: 30px;
}
